.page-nav-btns{
  display: flex;
  justify-content: space-between;
  a{
    margin: 0px;
  }
  .btn-label{
    display: inline-block;
    div{
      display: inline-block;
    }
    .fa-chevron-right{
      padding-left: 8px;
    }
    .fa-chevron-left{
      padding-right: 8px;
    }
  }
}
