.page-nav-btns{
  display: flex;
  justify-content: space-between;
  a.nav-btn {
    margin: 0px;
    width: 122px;
  }
  .btn-label{
    display: inline-block;
    font-size: 16px;

    .fa-angle-right{
      padding-left: 10px;
    }
    .fa-angle-left{
      padding-right: 10px;
    }
    .btn-text{
      font-family: "Open Sans";
      font-weight: bold;
    }
  }
}
