// Variables (copied from LMS)
//

$white:  #fff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #e7e7e7 !default;
$gray-300: #d9d9d9 !default;
$gray-400: #c8c8c8 !default;
$gray-500: #a0a0a0 !default;
$gray-600: #767676 !default;
$gray-700: #414141 !default;
$gray-800: #313131 !default;
$gray-900: #111 !default;
$black:  #000 !default;

$blue:    #005686 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #c2387d !default;
$red:     #b20610 !default;
$orange:  #fd7e14 !default;
$yellow:  #e2c01f !default;
$green:   #008100 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$pale-grey: #f2f8fb !default;
$slate-grey: #636c72 !default;
$dark-grey: #292b2c !default;

$primary:       $blue !default;
$secondary:     $gray-800 !default;
$inverse:       $white !default;
$disabled:      $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$purchase:      $green !default;
$lightest:      $gray-100 !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;
$darker:        $gray-900 !default;
$darkest:       $black !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  primary: $primary,
  secondary: $secondary,
  inverse: $inverse,
  disabled: $disabled,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  purchase: $purchase,
  lightest: $lightest,
  light: $light,
  dark: $dark,
  darker: $darker,
  darkest: $darkest
), $theme-colors);
