@media (min-width: 992px){
  .header-actions .account-info .dropdown-toggle{
    padding: 8px;
    span{
      display: inline-block;
    }
  }
}
@media (max-width: 991px){
  .header-actions .account-info .dropdown-toggle {
    padding: 2px;
    width: 47px;

    span{
      display: block;
      font-size: 9px;
      .fa{
        font-size: 14px;
      }
    }
  }
}
.site-header{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;

  .site-logo-link{
    height: 100%;

    @media (min-width: 576px){
      .site-logo{
        max-height: 100%;
        padding: 11px 33px;
      }
    }

    @media (max-width: 575px) {
      .site-logo{
        max-height: 100%;
        padding: 14px 12px;
      }
    }

  }

  .journal-name{
    font-size: 16px;
    line-height: 1.88;
    color: $dark-grey;
  }


  >*{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 5px;
  }

  // TODO: make account btn look good in mobile view too

  .header-actions{
    .account-info{
      margin: 12px 38px 12px 20px;
      font-size: 16px;

      .dropdown-toggle{
        line-height: 1;
        color: $primary;
        background-color: #ffffff;
        font-weight: bold;
        height: 42px;
        border: 1px solid $primary;

        &::after{
          content: none;
        }
      }

      span{
        .fa{
          padding-right: 4px;
        }
      }

      &:hover{
        cursor: pointer;
      }

      >span{
        font-size: 14px;
        font-weight: bold;
      }
    }
    .dropdown-menu{
      border: 1px solid $primary;
      left: unset;
      right: 0;

      .dropdown-item{
        color: $primary;

        .fa{
          margin-right: 5px;
        }
      }
    }
  }
  a.btn{
    height: 38px;
    margin: 0 10px;
  }
}





