@media (min-width: 576px){
  div.header{
    height:64px;
  }
}
@media (max-width: 575px){
  div.header{
    height:54px;
  }
}
div.header{
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.site-logo{
  max-height: 100%;
  padding: 10px 30px;
}

.account-info{
  padding: 10px 30px;
}
