@media (min-width: 576px){
  div.site-header{
    height:64px;
  }
}
@media (max-width: 575px){
  div.site-header{
    height:54px;
  }
}
div.header{
  display:inline;

  .mobile-control{
    height: 64px;
    display: flex;
    align-items: center;
    padding: 10px;

    >div{
      display: flex;
      align-items: center;
    }

    .mobile-toc-header{
      color: $primary;
      font-weight: bold;

      .btn{
        margin: 0 10px;
        width: 32px;
        padding: 8px;
        height: 22px;
      }
    }

    .search-field{
      color: unset;
      font-weight: unset;
    }

    .btn{
      box-sizing: content-box;

      &.close-btn{
        background-color: transparent;
        color: $primary;
      }
    }
  }
}

