// TODO: all colors should be using variables and inheriting from sitebranding
.image-border{
  background-color: #f2f8fb;
}
.image-title{
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #292b2c;
}
.image-block{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  display: block;
}
.image-caption{
  padding: 4px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #292b2c;
}
