// TODO: does this height make sense on all screens?
footer.page-footer{
  height: 100px;
  background-color: $white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14);

  .site-logo {
    display: inline-block;
    max-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  ul {
    display: inline-block;
    li:last-child {
      .link-divider {
        visibility: hidden;
      }
    }

    li {
      .footer-link {
        font-size: 14px;
        line-height: 1.29;
      }

      .link-divider {
        font-size: 14px;
        line-height: 1.29;
        color: $slate-grey;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

