h1.article-title{
  margin-top: 25px;
  margin-bottom: 10px;
}
h2.subtitle {
  font-size: 20px;
  line-height: 1.5;
  margin: 0px;
}
div.date-and-author{
  margin-top: 10px;

  p.muted-text{
    margin: 0px;
  }
}
div.journal-page-body{
  margin-top: 30px;
  margin-bottom: 30px;
}
.body-element{
  margin-top: 30px;
  margin-bottom: 30px;
}
