@import "~@edx/edx-bootstrap/sass/edx/theme";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

#content{
  display:flex;
}

#side-nav-panel-toggle{
  height: 60px;
  width: 82px;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
  margin-top: 30px;
  .nav-toggle-label div{
    font-size: 24px;
  }
}
#header-nav-panel-toggle{
  height: 38px;
  flex-grow: 1;
  .nav-toggle-label{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
      padding: 0 5px;
    }
  }
}
h1{
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.25;
  color: $dark-grey;
}
h2 {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  color: $dark-grey;
}
h2.subtitle {
  font-size: 20px;
  line-height: 1.5;
}
h3 {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.25;
  color: $dark-grey;
}
h4 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: $dark-grey;
}
h5{
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: $dark-grey;
}
p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  color: $dark-grey;
}
p.muted-text {
  color: $slate-grey;
}
a{
  font-family: "Open Sans";
  color: $deep-sea-blue;
}
