// TODO: all colors should be using variables and inheriting from sitebranding
// TODO: all fonts should be inherited
.viewer-border{
  background-color: $pale-grey;
  display: inline-block;
}
.viewer-title{
  min-width: 350px;
  padding: 4px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  color: $dark-grey;
}
// TODO doesn't work if the caption is wrapped in a <p>
%caption-text {
  min-width: 350px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.5;
  color: $dark-grey;
}
.viewer-caption {
  @extend %caption-text;
  padding: 4px;

  p {
    @extend %caption-text;
  }
}

.viewer-content{
  margin: auto;
  padding: 4px;
  box-sizing: border-box;
}
.grow{
  display: flex;
  div{
    flex-grow: 1;
    width: 0;
  }
}
